.homeDiv {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.converter {
  border: 1px solid black;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

textarea {
  background-color: rgb(244, 196, 124);
  height: 550px;
  width: 380px;
}

.convertingBtn {
  margin-top: 25%;
}

.container {
  display: flex;
  flex-direction: column;
}

.backBtnDiv {
  display: flex;
  justify-content: end;
  margin: 3% 3% 0% 0%;
}

.text-center {
  margin: 40px 0 -40px 0;
}

.convertBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
