<div class="homeDiv" *ngIf="!isConverterOn">
  <button class="btn btn-primary" type="button" (click)="toggleConverter()">Convert JSON data</button>
</div>

<div class="backBtnDiv" *ngIf="isConverterOn">
  <button class="btn btn-primary" type="button" (click)="toggleConverter()">Back to Main Page</button>
</div>

<div class="container" *ngIf="isConverterOn">
  <div class="text-center" [style.color]="isError?'red':'black'">
    <span><b>Please enter valid JSON data in input field to get desired output</b></span>
  </div>
  <div class="converter">
    <textarea [placeholder]=placeholder (click)="clearOutput()" (keyup)="checkInput($event)"></textarea>
    <div class="convertBtn">
      <button class="btn btn-primary convertingBtn" (click)="convertData()" [disabled]="isError">Convert</button>
    </div>
    <textarea [(ngModel)]=output></textarea>
  </div>
</div>
